In [1]:
import os
os.environ['PYSPARK_DRIVER_PYTHON'] = '/opt/anaconda3/bin/python3.7'
os.environ['PYSPARK_PYTHON'] = '/opt/anaconda3/bin/python3.7'
os.environ["SPARK_HOME"] = '/opt/cloudera/parcels/CDH/lib/spark'

In [2]:
import findspark
findspark.init()
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession,SQLContext, Row

In [3]:
cwd = os.getcwd() #Boiler
for part in cwd.split('/'):
    if part.lower().startswith('test6'):
        user_id = part.title()
    user_id = part.title().lower()

In [4]:
app_name = '{0} : Hive Integration'.format(user_id)
app_name

'anabig114241 : Hive Integration'

In [16]:
spark = SparkSession.builder.appName("app_name").config("spark.sql.catalogImplementation=hive").enableHiveSupport().getOrCreate() #Singleton instance

In [5]:
def get_hdfs_anabig114241(Capstone):
    my_hdfs = '/user/{0}'.format(user_id.lower())
    return os.path.join(my_hdfs,Capstone)

In [6]:
sparkSession = (SparkSession.builder.appName("app_name").config("hive.metastore.uris","thrift://ip-10-1-2-24.ap-south-1.compute.internal:9083").enableHiveSupport().getOrCreate())

In [20]:
# spark.sparkContext.getConf().getAll() #configurations
sparkSession.sparkContext.getConf().getAll() #configurations
# can be over-written using below
# SparkSession.builder.appName(app_name).config("spark.sql.warehouse.dir", "warehouse")

[('spark.eventLog.enabled', 'true'),
 ('spark.driver.extraLibraryPath',
  '/opt/cloudera/parcels/CDH-6.2.1-1.cdh6.2.1.p0.1425774/lib/hadoop/lib/native'),
 ('spark.driver.host', 'ip-10-1-1-204.ap-south-1.compute.internal'),
 ('spark.yarn.appMasterEnv.MKL_NUM_THREADS', '1'),
 ('spark.yarn.jars',
  'local:/opt/cloudera/parcels/CDH-6.2.1-1.cdh6.2.1.p0.1425774/lib/spark/jars/*,local:/opt/cloudera/parcels/CDH-6.2.1-1.cdh6.2.1.p0.1425774/lib/spark/hive/*'),
 ('spark.sql.catalogImplementation=hive', 'None'),
 ('spark.sql.queryExecutionListeners',
  'com.cloudera.spark.lineage.NavigatorQueryListener'),
 ('spark.app.id', 'application_1652166004796_3274'),
 ('spark.yarn.am.extraLibraryPath',
  '/opt/cloudera/parcels/CDH-6.2.1-1.cdh6.2.1.p0.1425774/lib/hadoop/lib/native'),
 ('spark.driver.port', '43262'),
 ('spark.ui.killEnabled', 'true'),
 ('spark.lineage.log.dir', '/var/log/spark/lineage'),
 ('spark.eventLog.dir', 'hdfs://nameservice1/user/spark/applicationHistory'),
 ('spark.dynamicAllocation.executorIdleTimeout', '60'),
 ('spark.serializer', 'org.apache.spark.serializer.KryoSerializer'),
 ('spark.io.encryption.enabled', 'false'),
 ('spark.authenticate', 'false'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES',
  'http://ip-10-1-1-204.ap-south-1.compute.internal:6066/proxy/application_1652166004796_3274'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.deployMode', 'client'),
 ('spark.yarn.historyServer.address',
  'http://ip-10-1-1-204.ap-south-1.compute.internal:18088'),
 ('spark.ui.filters',
  'org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter'),
 ('spark.network.crypto.enabled', 'false'),
 ('hive.metastore.uris',
  'thrift://ip-10-1-2-24.ap-south-1.compute.internal:9083'),
 ('spark.shuffle.service.enabled', 'true'),
 ('spark.yarn.historyServer.allowTracking', 'true'),
 ('spark.executorEnv.MKL_NUM_THREADS', '1'),
 ('spark.executor.extraLibraryPath',
  '/opt/cloudera/parcels/CDH-6.2.1-1.cdh6.2.1.p0.1425774/lib/hadoop/lib/native'),
 ('spark.executor.id', 'driver'),
 ('spark.dynamicAllocation.schedulerBacklogTimeout', '1'),
 ('spark.yarn.appMasterEnv.OPENBLAS_NUM_THREADS', '1'),
 ('spark.shuffle.service.port', '7337'),
 ('spark.app.name', 'app_name'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_HOSTS',
  'ip-10-1-1-204.ap-south-1.compute.internal'),
 ('spark.lineage.enabled', 'true'),
 ('spark.extraListeners', 'com.cloudera.spark.lineage.NavigatorAppListener'),
 ('spark.yarn.config.gatewayPath', '/opt/cloudera/parcels'),
 ('spark.master', 'yarn'),
 ('spark.sql.warehouse.dir', '/user/hive/warehouse'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.rdd.compress', 'True'),
 ('spark.driver.log.persistToDfs.enabled', 'true'),
 ('spark.ui.enabled', 'false'),
 ('spark.dynamicAllocation.minExecutors', '0'),
 ('spark.yarn.config.replacementPath', '{{HADOOP_COMMON_HOME}}/../../..'),
 ('spark.ui.proxyBase', '/proxy/application_1652166004796_3274'),
 ('spark.dynamicAllocation.enabled', 'true'),
 ('spark.executorEnv.PYTHONPATH',
  '/opt/cloudera/parcels/CDH-6.2.1-1.cdh6.2.1.p0.1425774/lib/spark/python/lib/py4j-0.10.7-src.zip<CPS>/opt/cloudera/parcels/CDH-6.2.1-1.cdh6.2.1.p0.1425774/lib/spark/python/lib/pyspark.zip'),
 ('spark.yarn.isPython', 'true'),
 ('spark.executorEnv.OPENBLAS_NUM_THREADS', '1'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.driver.log.dfsDir', '/user/spark/driverLogs')]

In [23]:
create_tbl = "CREATE TABLE IF NOT EXISTS employees{}(age STRING, name STRING) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n'"
sparkSession.sql(create_tbl.format(user_id.upper()))

DataFrame[]

In [7]:

sparkSession.sql('show databases').show()

+--------------------+
|        databaseName|
+--------------------+
|           01may2022|
|           09may2022|
|             09may22|
|           10nov2011|
|           12oct2022|
|         14april2022|
|14mar2022weekdaymorn|
|     16jan2022anjand|
|          18bd1a0420|
|             1carddb|
|             26march|
| 555555555555555555d|
|                  a1|
|                  aa|
|         aadityaalab|
|          aadityalab|
|   aaron_assignments|
|              aaronj|
|           aaronjude|
|         aaronjudedz|
+--------------------+
only showing top 20 rows

In [8]:

sparkSession.sql('use alabs').show()

++
||
++
++

In [9]:

sparkSession.sql('show tables').show()

+--------+------------------+-----------+
|database|         tableName|isTemporary|
+--------+------------------+-----------+
|   alabs|              2013|      false|
|   alabs|        aveintrest|      false|
|   alabs|              avg1|      false|
|   alabs|   avgintrestrate2|      false|
|   alabs|          building|      false|
|   alabs|         building1|      false|
|   alabs|        department|      false|
|   alabs|       departments|      false|
|   alabs|      departments1|      false|
|   alabs|          dept_emp|      false|
|   alabs|      dept_manager|      false|
|   alabs|           detail1|      false|
|   alabs|           details|      false|
|   alabs|         employees|      false|
|   alabs|             first|      false|
|   alabs|          grademix|      false|
|   alabs|         grademix1|      false|
|   alabs|         grademix3|      false|
|   alabs|historyreturngrade|      false|
|   alabs|              hvac|      false|
+--------+------------------+-----------+
only showing top 20 rows

In [10]:
sparkSession.sql("select * from departments1").show()

+-------+------------------+
|dept_no|         dept_name|
+-------+------------------+
|   d001|         Marketing|
|   d002|           Finance|
|   d003|   Human Resources|
|   d004|        Production|
|   d005|       development|
|   d006|Quality Management|
|   d007|             Sales|
|   d008|          Research|
|   d009|  Customer Service|
+-------+------------------+

In [11]:
sparkSession.sql("select * from titles").show()

+--------+------------------+
|title_id|             title|
+--------+------------------+
|   e0001|Assistant Engineer|
|   e0002|          Engineer|
|   e0003|   Senior Engineer|
|   e0004|  Technique Leader|
|   m0001|           Manager|
|   s0001|             Staff|
|   s0002|      Senior Staff|
+--------+------------------+

# A list showing employee number, last name, first name, sex, and salary for each employee1

In [20]:
sparkSession.sql("select s.emp_no, e.last_name, e.first_name, e.sex, s.salary from employees as e inner join salaries as s on s.emp_no = e.emp_no order by s.emp_no").show()

+------+-----------+----------+---+------+
|emp_no|  last_name|first_name|sex|salary|
+------+-----------+----------+---+------+
| 10001|    Facello|    Georgi|  M| 60117|
| 10002|     Simmel|   Bezalel|  F| 65828|
| 10003|    Bamford|     Parto|  M| 40006|
| 10004|    Koblick| Chirstian|  M| 40054|
| 10005|   Maliniak|   Kyoichi|  M| 78228|
| 10006|    Preusig|    Anneke|  F| 40000|
| 10007|  Zielinski|   Tzvetan|  F| 56724|
| 10008|   Kalloufi|    Saniya|  M| 46671|
| 10009|       Peac|    Sumant|  F| 60929|
| 10010|   Piveteau| Duangkaew|  F| 72488|
| 10011|      Sluis|      Mary|  F| 42365|
| 10012|  Bridgland|  Patricio|  M| 40000|
| 10013|     Terkki| Eberhardt|  M| 40000|
| 10014|      Genin|     Berni|  M| 46168|
| 10015|  Nooteboom|  Guoxiang|  M| 40000|
| 10016|Cappelletti|  Kazuhito|  M| 70889|
| 10017|  Bouloucos| Cristinel|  F| 71380|
| 10018|       Peha|  Kazuhide|  F| 55881|
| 10019|    Haddadi|   Lillian|  M| 44276|
| 10020|    Warwick|    Mayuko|  M| 40000|
+------+-----------+----------+---+------+
only showing top 20 rows

# A list showing first name, last  name, and hire date for employees who were hired in 1986

In [13]:
sparkSession.sql(" select emp_no, last_name, first_name, hire_date from employees where cast(substr( hire_date,7,4) as int) = 1986 ").show()

+------+---------+----------+----------+
|emp_no|last_name|first_name| hire_date|
+------+---------+----------+----------+
| 10081|    Rosen|  Zhongwei|10/30/1986|
| 10150|    Perng|  Zhenbing|11/16/1986|
| 10201|  Kavraki|     Idoia|11/22/1986|
| 10238|     Gire| Mototsugu|11/19/1986|
| 10268|   Siochi|    Nishit|12/17/1986|
| 10317|    Birge|      Arie|12/10/1986|
| 10361|    Sidou|     Seshu|10/23/1986|
| 10435| Tagansky|    Marsha|12/19/1986|
| 10522| Cesareni|     Marke|12/12/1986|
| 10533|Smailagic| Mohamadou|10/31/1986|
| 10701| Zolotykh| Hyuncheol|10/27/1986|
| 10807| Zallocco|  Munehiro|10/23/1986|
| 10832|  Bergere|     Hidde|10/11/1986|
| 10856|     Peck| Sreenivas|12/31/1986|
| 10962|   Kugler|    Naraig|12/16/1986|
| 10975| Birnbaum| Peternela|10/31/1986|
| 11010| Narwekar|    Jaques|12/18/1986|
| 11012|Speckmann|   Taegyun|12/28/1986|
| 11059|  Jarecki|    Shawna|11/17/1986|
| 11085|  Thummel|   Hailing|11/27/1986|
+------+---------+----------+----------+
only showing top 20 rows


 # A list showing the manager of each department with the following information: department number, department name, the manager's employee number, last name, first name.

In [14]:
sparkSession.sql("select distinct  dept_manager.dept_no, departments1.dept_name, dept_manager.emp_no, employees.last_name, employees.first_name from dept_manager inner join departments1 on dept_manager.dept_no= departments1.dept_no inner join employees on dept_manager.emp_no = employees.emp_no order by dept_manager.dept_no").show()

+-------+------------------+------+------------+-----------+
|dept_no|         dept_name|emp_no|   last_name| first_name|
+-------+------------------+------+------------+-----------+
|   d001|         Marketing|110022|  Markovitch|  Margareta|
|   d002|           Finance|110085|       Alpin|       Ebru|
|   d003|   Human Resources|110183|Ossenbruggen|    Shirish|
|   d004|        Production|110303|     Wegerle|  Krassimir|
|   d005|       development|110511|    Hagimont|   DeForest|
|   d006|Quality Management|110725|     Onuegbe|  Peternela|
|   d007|             Sales|111035|   Kaelbling|Przemyslawa|
|   d008|          Research|111400|     Staelin|       Arie|
|   d009|  Customer Service|111692| Butterworth|      Tonny|
+-------+------------------+------+------------+-----------+

# A list showing the department of each employee with the following information: employee number, last name, first name, and department name

In [15]:
sparkSession.sql("select distinct  employees.emp_no, employees.last_name, employees.first_name, departments1.dept_name from employees left join dept_emp on employees.emp_no = dept_emp.emp_no inner join departments1 on dept_emp.dept_no = departments1.dept_no order by employees.emp_no").show()

+------+-----------+----------+------------------+
|emp_no|  last_name|first_name|         dept_name|
+------+-----------+----------+------------------+
| 10001|    Facello|    Georgi|       development|
| 10002|     Simmel|   Bezalel|             Sales|
| 10003|    Bamford|     Parto|        Production|
| 10004|    Koblick| Chirstian|        Production|
| 10005|   Maliniak|   Kyoichi|   Human Resources|
| 10006|    Preusig|    Anneke|       development|
| 10007|  Zielinski|   Tzvetan|          Research|
| 10008|   Kalloufi|    Saniya|       development|
| 10009|       Peac|    Sumant|Quality Management|
| 10010|   Piveteau| Duangkaew|        Production|
| 10010|   Piveteau| Duangkaew|Quality Management|
| 10011|      Sluis|      Mary|  Customer Service|
| 10012|  Bridgland|  Patricio|       development|
| 10013|     Terkki| Eberhardt|   Human Resources|
| 10014|      Genin|     Berni|       development|
| 10015|  Nooteboom|  Guoxiang|          Research|
| 10016|Cappelletti|  Kazuhito|             Sales|
| 10017|  Bouloucos| Cristinel|         Marketing|
| 10018|       Peha|  Kazuhide|        Production|
| 10018|       Peha|  Kazuhide|       development|
+------+-----------+----------+------------------+
only showing top 20 rows

# A list showing first name, last name, and sex for employees whose first name is "Hercules" and last names begin with "B.“

In [16]:
sparkSession.sql("select last_name, first_name from employees where (first_name = 'Hercules') and (lower(last_name) like 'b%') order by last_name").show()

+-------------+----------+
|    last_name|first_name|
+-------------+----------+
|         Baak|  Hercules|
|         Baer|  Hercules|
|         Bahr|  Hercules|
|         Bail|  Hercules|
|         Bain|  Hercules|
|   Baranowski|  Hercules|
|     Barreiro|  Hercules|
|      Basagni|  Hercules|
|     Benantar|  Hercules|
|   Benzmuller|  Hercules|
|Bernardinello|  Hercules|
|    Bernatsky|  Hercules|
|      Berstel|  Hercules|
|        Biran|  Hercules|
|        Birge|  Hercules|
|        Biron|  Hercules|
|      Bisiani|  Hercules|
|       Bodoff|  Hercules|
|      Brendel|  Hercules|
|      Buchter|  Hercules|
+-------------+----------+

# A list showing all employees in the Sales department, including their employee number, last name, first name, and department name.

In [17]:
sparkSession.sql("select employees.emp_no, employees.last_name, employees.first_name, departments1.dept_name from employees inner join dept_emp on dept_emp.emp_no = employees.emp_no inner join departments1 on dept_emp.dept_no= departments1.dept_no where lower(departments1.dept_name) = 'sales'").show()

+------+------------+----------+---------+
|emp_no|   last_name|first_name|dept_name|
+------+------------+----------+---------+
| 10002|      Simmel|   Bezalel|    Sales|
| 10016| Cappelletti|  Kazuhito|    Sales|
| 10034|        Swan|     Bader|    Sales|
| 10041|      Lenart|       Uri|    Sales|
| 10050|      Dredge|   Yinghua|    Sales|
| 10053|    Zschoche|    Sanjiv|    Sales|
| 10060| Billingsley|  Breannda|    Sales|
| 10061|      Herber|       Tse|    Sales|
| 10068|     Brattka|  Charlene|    Sales|
| 10087|     Eugenio|   Xinglin|    Sales|
| 10088|    Syrzycki|  Jungsoon|    Sales|
| 10089|Flasterstein| Sudharsan|    Sales|
| 10093|     Desikan|   Sailaja|    Sales|
| 10095|      Morton|    Hilari|    Sales|
| 10099|     Sullins|    Valter|    Sales|
| 10101|      Heyers|     Perla|    Sales|
| 10107|        Baca|      Dung|    Sales|
| 10125|     Hiltgen|     Syozo|    Sales|
| 10136|    Pintelas|    Zissis|    Sales|
| 10148|       Azumi|    Douadi|    Sales|
+------+------------+----------+---------+
only showing top 20 rows

# A list showing all employees in the Sales and Development departments, including their employee number, last name, first name, and department name.

In [18]:
sparkSession.sql("select employees.emp_no, employees.last_name, employees.first_name, departments1.dept_name from employees inner join dept_emp on dept_emp.emp_no = employees.emp_no inner join departments1 on dept_emp.dept_no= departments1.dept_no where (lower(departments1.dept_name) = 'sales') or (lower(departments1.dept_name) = 'development')").show()

+------+-----------+----------+-----------+
|emp_no|  last_name|first_name|  dept_name|
+------+-----------+----------+-----------+
| 10001|    Facello|    Georgi|development|
| 10002|     Simmel|   Bezalel|      Sales|
| 10006|    Preusig|    Anneke|development|
| 10008|   Kalloufi|    Saniya|development|
| 10012|  Bridgland|  Patricio|development|
| 10014|      Genin|     Berni|development|
| 10016|Cappelletti|  Kazuhito|      Sales|
| 10018|       Peha|  Kazuhide|development|
| 10021|       Erde|     Ramzi|development|
| 10022|     Famili|    Shahaf|development|
| 10023| Montemayor|     Bojan|development|
| 10025|     Heyers| Prasadram|development|
| 10027|    Reistad|    Divier|development|
| 10028|   Tempesti|  Domenick|development|
| 10031|     Joslin|   Karsten|development|
| 10034|       Swan|     Bader|      Sales|
| 10037|   Makrucki|   Pradeep|development|
| 10040|    Meriste|     Weiyi|development|
| 10041|     Lenart|       Uri|      Sales|
| 10043|    Tzvieli|    Yishay|development|
+------+-----------+----------+-----------+
only showing top 20 rows

# A list showing the frequency count of employee last names, in descending order. ( i.e., how many employees share each last name).

In [19]:
sparkSession.sql("select last_name,count(last_name) as Frequency from employees group by last_name order by Frequency desc").show()

+-----------+---------+
|  last_name|Frequency|
+-----------+---------+
|       Baba|      226|
|     Gelosh|      223|
|      Coorg|      223|
|    Sudbeck|      222|
|     Farris|      222|
|     Adachi|      221|
|     Osgood|      220|
|     Neiman|      218|
|    Mandell|      218|
|     Masada|      218|
|Boudaillier|      217|
|    Wendorf|      217|
|     Mahnke|      216|
|    Solares|      216|
|     Pettis|      216|
|   Cummings|      216|
|     Emmart|      215|
|    Kulisch|      215|
|   Birjandi|      215|
| Maksimenko|      215|
+-----------+---------+
only showing top 20 rows